<div class="d-md-flex justify-content-between align-items-center">
  <%= paginate @items, window: 2 %>
  <p>
    <%= page_entries_info @items %>
  </p>
</div>

<% @items.in_groups_of(6).each do |group| %>
<div class="movies card-deck mb-3">
  <% group.each do |item| %>
  <div class="card">
    <% if item %>
    <%= link_to image_tag(item.thumbnail_image_url, class: "card-image-top img-fluid mx-auto d-block"), item %>
    <div class="card-body">
      <%= link_to item, class: "card-title" do %>
      <h5>
        <%= link_to item.normalized_id, movie_path(item.normalized_id) %>
        <% if godmode? %>
        <sub><%= link_to item.subtitle, item %></sub>
        <% end %>
      </h5>
      <% end %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>