<% content_for :title do %>
<%= params[:fuzzy] %>
<% end %>

<nav class="card mb-3">
    <div class="card-body">
        <%= form_tag movies_path, method: :get, class: "form-inline", id: "fuzzySearch" do %>
        <div class="input-group">
            <%= text_field_tag("fuzzy", params[:fuzzy], class: "form-control") %>
            <div class="input-group-append">
                <%= submit_tag "Fuzzy Match", class: "btn btn-success" %>
            </div>
        </div>
        <% end %>
    </div>
</nav>

<%= render partial: "movies/cards", object: @items %>