<% content_for :title do %>
<%= params[:q] %>
<% end %>

<nav class="card mb-3">
    <div class="card-body">
        <div class="row">
            <%= form_tag movies_path, method: :get, class: "col-md-auto", id: "search" do %>
            <input name="order" type="hidden" value="<%= @order %>" />
            <input name="style" type="hidden" value="<%= @style %>" />
            <div class="input-group">
                <%= text_field_tag("q", params[:q], class: "form-control") %>
                <%= submit_tag "Search", class: "btn btn-success" %>
            </div>
            <% end %>

            <div class="col-md-auto btn-group">
                <button type="button" class="btn btn-outline-dark" disabled>
                    Style
                </button>
                <% %i[fuzzy prefix].each do |style| %>
                <%= link_to(
                    style.to_s.titleize,
                    request.params.except("page").merge(style: style),
                    class: (@style==style ? "btn btn-primary active" : "btn btn-secondary"),
                    role: "button",
                ) %>
                <% end %>
            </div>

            <div class="col-md-auto btn-group">
                <button type="button" class="btn btn-outline-dark" disabled>
                    Sort by
                </button>
                <% (signed_in_as_admin? ? %i[title release_date date_added] : %i[title release_date]).each do |opt| %>
                <%= link_to(
                    opt.to_s.titleize,
                    request.params.except("page").merge(order: opt),
                    class: (@order==opt ? "btn btn-primary active" : "btn btn-secondary"),
                    role: "button",
                ) %>
                <% end %>
            </div>
        </div>
    </div>
</nav>

<%= render partial: "movies/cards", object: @movies %>