<% content_for :title do %>
<%= @item.normalized_id %>
<% end %>

<h1>
  <span><%= @item.normalized_id %></span>
  <span><%= @item.title %></span>
  <% if signed_in_as_admin? %>
  <%= link_to "Re-Search", @movie, method: :delete, class: "btn btn-danger" %>
  <%= link_to "Re-Derive", @item, method: :delete, class: "btn btn-warning" %>
  <% end %>
</h1>

<div class="row mt-3 mb-3">
  <div class="col-md-8">
    <%= image_tag @item.cover_image_url, class: "img-fluid" %>

    <% if signed_in_as_admin? %>
    <div class="card border-danger mt-3 mb-3">
      <div class="card-body pt-3 pb-2">
        <dl class="row mb-0">
          <dt class="col-md-3">Movie Page</dt>
          <dd class="col-md-9"><%= link_to movie_path(@item.normalized_id), movie_path(@item.normalized_id) %></dd>
          <dt class="col-md-3">Item Page</dt>
          <dd class="col-md-9"><%= link_to url_for(@item), @item %></dd>
          <dt class="col-md-3">Data Source</dt>
          <dd class="col-md-9 text-truncate"><%= link_to @item.url, @item.url %></dd>
          <dt class="col-md-3">Date Added</dt>
          <dd class="col-md-9"><%= time_tag @item.created_at %></dd>
          <% if @movie %>
          <dt class="col-md-3">Cover Image</dt>
          <dd class="col-md-9">
            <%= form_tag @movie, method: :put, class: "row", id: "update" do %>
              <div class="col-md-12">
                <div class="input-group">
                  <%= text_field_tag "cover_image_url", @movie.cover_image_url, class: "form-control" %>
                  <div class="input-group-append">
                    <%= submit_tag "Update" , class: "btn btn-success" %>
                  </div>
                </div>
              </div>
            <% end %>
          </dd>
          <% end %>
        </dl>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-md-4">
    <dl>
      <dt>Thumbnail Image</dt>
      <dd><%= image_tag @item.thumbnail_image_url, class: "img-fluid" %></dd>

      <dt>Release Date</dt>
      <dd><%= @item.date.to_date %></dd>

      <% %i[directors genres labels makers].each do |attr| %>
      <% if @item.send(attr).present? %>
      <dt><%= attr.to_s.humanize %></dt>
      <dd>
        <ul class="list-inline">
          <% @item.send(attr).each do |elem| %>
          <li class="list-inline-item">
            <%= elem %>
          </li>
          <% end %>
        </ul>
      </dd>
      <% end %>
      <% end %>

      <% if @item.volume.present? %>
      <dt>Volume</dt>
      <dd><%= (@item.volume / 60) %> minutes</dd>
      <% end %>

      <% if @item.review.present? %>
      <dt>User Rating</dt>
      <dd><%= "%.1f" % @item.review %></dd>
      <% end %>
      <dt>
        External Links
      </dt>
      <dd>
        <ul class="list-inline external-links">
          <li class="list-inline-item">
            <%= link_to @item.url do %>
            <%= image_tag @item.logo_url, class: "img-fluid" %>
            <% end %>
          </li>
          <li class="list-inline-item">
            <%= link_to "https://www.javbus.com/search/#{@item.normalized_id}" do %>
            <%= image_tag "javbus.png", class: "img-fluid javbus" %>
            <% end %>
          </li>
        </ul>
      </dd>
    </dl>
  </div>
</div>

<dl>
  <% if @item.description.present? %>
  <dt>Description</dt>
  <dd><%= @item.description %></dd>
  <% end %>

  <% if @item.actresses.present? %>
  <dt>Actresses</dt>
  <dd>
    <%= render partial: "fanza_actresses/cards", object: @item.actresses %>
  </dd>
  <% end %>

  <% if @item.movie.items.count > 1 %>
  <dt>Other versions</dt>
  <dd>
    <%= render(
      partial: "movies/cards",
      object: Kaminari.paginate_array(@item.movie.items.excluding(@item)).page(1).per(20),
      locals: { render_pager: false, link_to_movie: false }
    )%>
  </dd>
  <% end %>
</dl>