<% content_for :title do %>
<%= @item.normalized_id %>
<% end %>

<h1>
  <span><%= @item.normalized_id %></span>
  <span><%= @item.title %></span>
</h1>

<div class="row mt-3 mb-3">
  <div class="col-md-8">
    <%= image_tag @item.cover_image_url, class: "img-fluid" %>
  </div>
  <div class="col-md-4">
    <dl>
      <dt>Thumbnail Image</dt>
      <dd><%= image_tag @item.thumbnail_image_url %></dd>

      <% if @item.description.present? %>
      <dt>Description</dt>
      <dd><%= @item.description %></dd>
      <% end %>

      <dt>Release Date</dt>
      <dd><%= @item.date.to_date %></dd>

      <% %i[directors genres labels makers].each do |attr| %>
      <% if @item.send(attr).present? %>
      <dt><%= attr.to_s.humanize %></dt>
      <dd>
        <ul class="list-inline">
          <% @item.send(attr).each do |elem| %>
          <li class="list-inline-item">
            <%= elem %>
          </li>
          <% end %>
        </ul>
      </dd>
      <% end %>
      <% end %>

      <% if @item.review.present? %>
      <dt>User Rating</dt>
      <dd><%= "%.1f" % @item.review %></dd>
      <% end %>

      <dt>Data Source</dt>
      <dd><%= link_to @item.url, @item.url %></dd>

      <% if signed_in_as_admin? %>
      <dt>Needs Refresh?</dt>
      <dd><%= link_to "Refresh", @item, method: :delete, class: "btn btn-warning", id: "refresh" %></dd>
      <% end %>
    </dl>
  </div>
</div>

<% if @item.actresses.present? %>
<dl>
  <dt>Actresses</dt>
  <dd>
    <%= render partial: "fanza_actresses/cards", object: @item.actresses %>
  </dd>
</dl>
<% end %>