<% if @item %>

<h1>
  <span><%= @item.normalized_id %></span>
  <span><%= @item.title %></span>
</h1>

<div class="row mt-3 mb-3">
  <div class="col-md-8">
    <%= image_tag @item.cover_image_url, class: "img-fluid" %>
  </div>
  <div class="col-md-4">
    <dl>
      <dt>Release Date</dt>
      <dd><%= @item.date %></dd>
      <dt>Thumbnail Image</dt>
      <dd><%= image_tag @item.thumbnail_image_url %></dd>
      <dt>Powered by</dt>
      <dd>
        <%= @item.kind_of?(FanzaItem) ? "Fanza" : "JavLibrary" %>
      </dd>
      <dt>Data Source</dt>
      <dd><%= link_to @item.url, @item.url %></dd>
    </dl>
  </div>
</div>

<% if @item.actresses.present? %>
<dl>
  <dt>Actresses</dt>
  <dd>
    <%= render partial: "fanza_actresses/cards", object: @item.actresses %>
  </dd>
</dl>
<% end %>

<% elsif @searching %>

<div class="d-flex justify-content-center">
  <div class="spinner-border text-primary m-5" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="d-flex justify-content-center">
  <strong>Loading in background, try come back later.</strong>
</div>

<% else %>

<div class="jumbotron d-flex justify-content-center">
  <h1>Not found <small class="text-muted">yet</smallclass="text-muted">
  </h1>
</div>

<% end %>