<h1>Javlibrary Pages</h1>

<nav class="card mb-3">
  <div class="card-body">
    <%= form_tag javlibrary_pages_path, class: "form-inline" do %>
    <div class="input-group">
      <%= text_field_tag("q", nil, class: "form-control") %>
      <div class="input-group-append">
        <%= submit_tag "Search", class: "btn btn-success" %>
      </div>
    </div>
    <% end %>
  </div>
</nav>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Item</th>
      <th></th>
      <th>Raw html</th>
    </tr>
  </thead>

  <tbody>
    <% @javlibrary_pages.each do |javlibrary_page| %>
      <tr>
        <td><%= javlibrary_page.url %></td>
        <td><%= link_to javlibrary_page.javlibrary_item.id, javlibrary_page.javlibrary_item %></td>
        <td><%= link_to "Show", javlibrary_page %></td>
        <td><%= javlibrary_page.raw_html %></td>
      </tr>
    <% end %>
  </tbody>
</table>