<h1>Javlibrary Pages</h1>

<nav class="card mb-3">
  <div class="card-body">
    <%= form_tag javlibrary_pages_path, class: "form-inline" do %>
    <div class="input-group">
      <%= text_field_tag("q", nil, class: "form-control") %>
      <div class="input-group-append">
        <%= submit_tag "Search", class: "btn btn-success" %>
      </div>
    </div>
    <% end %>
  </div>
</nav>

<table>
  <thead>
    <tr>
      <th>Url</th>
      <th>Item</th>
    </tr>
  </thead>

  <tbody>
    <% @javlibrary_pages.each do |javlibrary_page| %>
    <tr>
      <td><%= link_to javlibrary_page.url, javlibrary_page %></td>
      <td>
        <% if javlibrary_page.javlibrary_item %>
        <%= link_to javlibrary_page.javlibrary_item.normalized_id, javlibrary_page.javlibrary_item %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>