<div class="d-md-flex justify-content-between align-items-center">
  <%= paginate @pages, window: 2 %>
  <p>
    <%= page_entries_info @pages %>
  </p>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Url</th>
      <th></th>
      <th>Item</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
    <tr>
      <td><%= page.url %></td>
      <td><%= link_to "Cached", page %> | <%= link_to "Original", page.url %></td>
      <td>
        <% if page.javlibrary_item %>
        <%= link_to page.javlibrary_item.normalized_id, page.javlibrary_item %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>