<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
  <%= render partial: "/users/email_field", locals: { form: form } %>
  <%= render partial: "/users/password_field", locals: { form: form } %>
  <%= render partial: "/users/submit_field", locals: { form: form } %>

  <div class="other-links">
    <%= link_to t(".sign_in"), sign_in_path %>
  </div>
  <% end %>
</div>