<%= form_with(model: fanza_item, local: true) do |form| %>
  <% if fanza_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fanza_item.errors.count, "error") %> prohibited this fanza_item from being saved:</h2>

      <ul>
        <% fanza_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content_id %>
    <%= form.text_field :content_id %>
  </div>

  <div class="field">
    <%= form.label :raw_json %>
    <%= form.text_field :raw_json %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
