<h1>
  <span><%= @fanza_item.normalized_id %></span>
  <span><%= @fanza_item.json.title %></span>
</h1>

<div class="row mt-3">
  <div class="col-md-8">
    <%= image_tag @fanza_item.json.imageURL.large, class: "img-fluid" %>
  </div>
  <div class="col-md-4">
    <dl>
      <dt>URL</dt>
      <dd><%= link_to @fanza_item.json.URL, @fanza_item.json.URL %></dd>
      <dt>Date</dt>
      <dd><%= @fanza_item.date %></dd>
    </dl>
  </div>
</div>