<%= render partial: "layouts/pager", locals: { items: @pages, name: nil } %>

<table class="table">
  <thead>
    <tr>
      <th>Url</th>
      <th></th>
      <th>Item</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
    <tr>
      <td><%= page.url %></td>
      <td><%= link_to "Cached", page %> | <%= link_to "Original", page.url %></td>
      <td>
        <% if page.mgstage_item %>
        <%= link_to page.mgstage_item.normalized_id, page.mgstage_item %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>