<% content_for :title do %>
<%= params[:fuzzy] %>
<% end %>

<nav class="card mb-3">
    <div class="card-body">
        <div class="row">
            <%= form_tag fanza_actresses_path, method: :get, class: "form-inline ml-3 mr-3", id: "fuzzySearch" do %>
            <input name="order" type="hidden" value="<%= @order %>" />
            <div class="input-group">
                <%= text_field_tag("fuzzy", params[:fuzzy], class: "form-control") %>
                <div class="input-group-append">
                    <%= submit_tag "Filter by name", class: "btn btn-success" %>
                </div>
            </div>
            <% end %>

            <div class="btn-group">
                <button type="button" class="btn btn-outline-dark" disabled>
                    Sort by
                </button>
                <% %i[New Name].each do |opt| %>
                <% if @order&.downcase == opt.to_s.downcase %>
                <%= link_to(
                    opt.to_s,
                    request.params.except("page", :order),
                    class: "btn btn-primary active",
                    role: "button",
                ) %>
                <% else %>
                <%= link_to(
                    opt.to_s,
                    request.params.except("page").merge(order: opt),
                    class: "btn btn-secondary",
                    role: "button",
                ) %>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
</nav>


<%= render partial: "layouts/pager", locals: { items: @actresses, name: "actress" } %>
<%= render partial: "fanza_actresses/cards", object: @actresses %>
<%= render partial: "layouts/pager", locals: { items: @actresses, name: "actress" } %>