<h1>
  <span><%= @javlibrary_item.normalized_id %></span>
  <span><%= @javlibrary_item.title %></span>
</h1>

<div class="row mt-3">
  <div class="col-md-8">
    <%= image_tag @javlibrary_item.cover_image_url, class: "img-fluid" %>
  </div>
  <div class="col-md-4">
    <dl>
      <dt>URL</dt>
      <dd><%= link_to @javlibrary_item.url, @javlibrary_item.url %></dd>
      <dt>Date</dt>
      <dd><%= @javlibrary_item.date %></dd>
    </dl>
  </div>
</div>