<!DOCTYPE html>
<html>

<head>
  <title>Librefanza</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
  <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">LibreDMM</a>
  </nav>

  <main role="main" class="container">
    <%= yield %>
  </main>
</body>

</html>